@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #05639a;
  padding: 40px 20px;
}
main {
  max-width: 800%;
  margin: 0 auto;
}
.btn {
  @apply bg-rose-500 text-white p-2 rounded-sm text-xs;
}
form {
  @apply max-w-sm mx-auto text-center;

  & input, & textarea {
    @apply block w-full p-2 rounded-sm my-4;
  }
  /* .error {
    @apply 
      my-4 p-2 text-sm rounded-md border-2 
      border-red-500 bg-red-200 text-red-500;
  } */
}
